
.flex{
    display:flex;
    width: 900px;
    height:100px;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 20px;
    
  flex-direction:row;
    float:left;
}
.card{
    color: red;
    background-color: aqua;
    padding: 30px;
    
}
